<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/addproduct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
</head>

<body>

    <section id="menu">
        <div class="logo">
            <img src="/images/logo.png" alt="">
            <h2>Dynamic</h2>
        </div>
        <div class="items">
            <li><i class="fa-solid fa-chart-pie"></i> <a href="/admin/dashboard">Dashboard</a></li>
            <li><i class="fa-solid fa-table-cells-large"></i> <a href="/admin/products">Products</a></li>
            <li> <i class="fa-solid fa-list" style="color: #adb1b8;"></i> <a href="/admin/Category">Categories</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="#">Orders</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/banner">Banners</a></li>
            <li><i class="fa-solid fa-credit-card"></i> <a href="/admin/coupon">Coupons</a></li>
            <li><i class="fa-solid fa-user" style="color: #c4c8cf;"></i><a href="/admin/Userslist">Users</a></li>
          
            
            <!-- <li><i class="fa-solid fa-chart-line"></i> <a href="#">Blank</a></li> -->
            <div class="logout">
                <li><i class="fa-solid fa-right-from-bracket" style="color: #d40c48;"></i> <a href="#">Logout</a></li>
            </div>
        </div>

    </section>


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div>
            
                    <i id="menu-btn" class="fa-solid fa-bars"></i>
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>
           
            <div class="profile">
                <i class="fa-solid fa-bell"></i>
                <img src="/images/ramees.jpeg" alt="">
            </div>
        </div>

        <h3 class="i-name">Add Products</h3>
        <div class="content_part">

            <form id="add_product_form" enctype="multipart/form-data" >
                <div class="frame">
                    <div class="gap_div">
                        <d
                        iv class="card_div">
                            <div class="form-group">
                                <label for="productName">Product Name</label>
                                <div id="add_product_name_error"></div>
                                <input type="text" id="productName" name="productName" placeholder="Enter product name">
                            </div>
            
                            <div class="form-group">
                                <label for="prices">Price</label>
                                <div id="add_product_price_error"></div>
                                <input type="number" id="prices" name="prices" placeholder="Enter prices">
                            </div>
            
                            <div class="form-group">
                                <label for="discount">Discount</label>
                                <div id="add_product_discount_error"></div>
                                <input type="number" id="discount" name="discount" placeholder="Enter discount">
                            </div>
            
                            <div class="form-group">
                                <label for="stock">Stock</label>
                                <div id="add_product_stock_error"></div>
                                <input type="number" id="stock" name="stock" placeholder="Enter stock">
                            </div>
            
                            <div class="form-group">
                                <label for="category">Category</label>
                                <div id="add_product_category_error"></div>
                                <select id="category" name="category" onchange="">
                                    <option value="" selected disabled>Select category</option>
                                    <% categorydatas.forEach((data) => { %>
                                        <option value="<%= data.category %>"><%= data.category %></option>
                                    <% }); %>
                                </select>
                                
                            </div>

                            <div class="form-group" id="subcategory_display_div" style="display:block; padding: 0.5rem; border-radius: 4px;">
                                <label for="subCategory">Sub Category</label>
                                <div id="add_product_sub-category_error"></div>
                                <select name="subCategory" id="subCategory" style="width: 100%;" onchange="select(e)" required>
                                    <option  selected disabled>Select sub category</option>
                                    <% categorydatas.forEach((data) => { %>
                                    <% data.subcategory.forEach((sub) => { %>
                                    <option  value="<%= sub %>"><%= sub %></option>
                                    <% }); %>
                                    <% }); %>
                                </select>
                            </div>
            
                            <div class="form-group">
                                <label for="deliveryDate">Delivery Date</label>
                                <div id="add_product_delivery-date_error"></div>
                                <input type="number" id="deliveryDate" name="deliveryDate" placeholder="Enter delivery date">
                            </div>
            
                            <div class="form-group">
                                <label for="colour">Colour</label>
                                <div id="add_product_colour_error"></div>
                                <select name="colour" id="colour" >
                                    <option value="" selected disabled>Select color</option>
                                    <option value="red" style="color: #ff0000;">Red</option> 
                                    <option value="Blue" style="color: #0000ff;">Blue</option>
                                    <option value="Green" style="color: #00ff00;">Green</option>
                                    <option value="Black" style="color: #000000;">Black</option>
                                    <option value="Orange" style="color: #f98000;">Orange</option>
                                    <option value="Yellow" style="color: #ffea00;">Yellow</option>     
                                </select>
                            </div>
            
                            <div class="form-group">
                                <label for="size">Size</label>
                                <div id="add_product_size_error"></div>
                                <!-- <div class="dropdown"> -->
                                    <!-- <input type="text" style="width: 95%; position:relative;">
                                    <ul style="display: none; position:absolute;">
                                        <li><input type="checkbox" id="s" name="s" value="s"><label for="s">Small</label></li>
                                        <li><input type="checkbox" id="m" name="m" value="m"><label for="m">Medium</label></li>
                                        <li><input type="checkbox" id="l" name="l" value="l"><label for="l">Large</label></li>
                                        <li><input type="checkbox" id="xl" name="xl" value="xl"><label for="xl">X-Large</label></li>
                                        <li><input type="checkbox" id="xxl" name="xxl" value="xxl"><label for="xxl">XX-Large</label></li>
                                    </ul> -->
                                    <select name="size" id="size">
                                        <option value="" selected disabled>Choose Size</option>                                            
                                        <option value="Small">Small</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Large">Large</option>
                                        <option value="X-Large">X-Large</option>
                                        <option value="Xx-Large">XX-Large</option>
                                    </select>
                                <!-- </div> -->
                            </div>
            
                            <div class="form-group">
                                <label for="description">Description</label>
                                <div id="add_product_description_error"></div>
                                <textarea id="descriptions" name="description" class="descriptions"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="message" style="color: red ; margin-bottom: 10px; font-weight: bold;"></div>
                                <button class="buttonsubmit" type="submit" id="add_product_btn">Submit</button>
                            </div>
                        </div>
                        <div class="img_div">      
                            <div class="form-group img_centr">            
                                <div class="image_space">
                                    <img src="" alt="" id="imagePreview" style="width: 100%; height: 100%;">
                                </div>
                                <div id="add_product_image_error"></div>
                               <div class="image_buttn">
                                    Choose Image
                                <input type="file" id="productImage" name="productImage" onchange="previewImage(this)" multiple>
                               </div>
                               <div id="errorMain" style="color: brown; margin-top: 1rem;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
             
        </div>
    </section>
    <script src="/js/AddProducts.js"></script>
    <script>
        function previewImage(input) {
            var file = input.files[0];
            if(file){
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('imagePreview').src= e.target.result;
            };
            reader.readAsDataURL(file);
        }else{
            document.getElementById("imagePreview").setAttribute('src', 'https://via.placeholder.com/150');
            }
        }
    </script>
    <script>
        $('#menu-btn').click(function() {
           $('#menu').toggleClass('active')
        })
    </script>

</body>

</html>